@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  font-family: "Overcame Demo";
  color: white;
  font-size: 12px;
}

.App{
  position: relative;
  height: 100dvh;
  overflow: hidden;
  background: url('./assets/background.png');
  background-repeat: no-repeat;
  background-size:cover;
  }
  
  #nav-elements{
    padding: 2rem;
}

#inter{
  font-family: "Inter", serif;
}

@font-face {
  font-family: 'Overcame Demo';
  src: url('/public/fonts/OvercameDemoBold.ttf') format('truetype');
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: 'Overcame Demo';
  src: url('/public/fonts/OvercameDemoBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: bold italic;
}

@font-face {
  font-family: 'Overcame Demo';
  src: url('/public/fonts/OvercameDemoItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Overcame Demo';
  src: url('/public/fonts/OvercameDemoRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Clip path to cut opposite corners */
.clip-path {
  clip-path: polygon(20% 0%, 100% 0%, 100% 80%, 80% 100%, 0% 100%, 0% 20%);
}

/* Circuit Animation */
@keyframes circuit {
  0% {
    clip-path: inset(0% 100% 100% 0%);
  }
  25% {
    clip-path: inset(0% 0% 100% 0%);
  }
  50% {
    clip-path: inset(0% 0% 0% 100%);
  }
  75% {
    clip-path: inset(100% 0% 0% 100%);
  }
  100% {
    clip-path: inset(100% 100% 0% 0%);
  }
}

.animate-circuit {
  animation: circuit 1.5s linear infinite;
}
